html,body{
  height:100%;
  background-color: #cff1ef;
  text-align: center;
  margin: 0;
  padding: 0;

}

.card{
  margin:0 auto;
  float:none;
  margin-bottom: 10px;
}
.page-wrapper{
  min-height: 100%;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
